[Desktop Entry]
Name=Logos 10
Comment=Logos Bible Software (snap via WINE)
Exec=logos10-unofficial
Icon=${SNAP}/meta/gui/logos10-unofficial.png
Terminal=false
Type=Application
Categories=Education;
StartupWMClass=logos.exe
StartupNotify=false
Keywords=Logos;Bible;
